<h1>Le relais! <small class="bg-info">(le titre qui sent bon le parking des routiers)</small></h1>
<hr />

<p class="well well-sm well-lg w3-dark-gray">Petits pas synchronisés :</p>
<video width="400" controls="controls" class="center-block img-responsive">
	<source src="http://i.imgur.com/09LwOEU.mp4" type="video/mp4" /></source>
</video>
<br />
	
<p class="well well-sm well-lg w3-dark-gray">Essaie encore ^^</p>
<video height="400" controls="controls" class="center-block img-responsive">
	<source src="http://i.imgur.com/sEvvy0f.mp4" type="video/mp4"></source>
</video>
<br />