<h2>L'image du jour<small><i class="navbar-right">26/04/17</i></small></h2>
<hr />
<p><img  class="img-responsive center-block cards" src="/img/lolcats/lolcatsdance.jpg" /></p>


<h2>L'image du jour<small><i class="navbar-right">25/04/17</i></small></h2>
<hr />
<p><img  class="img-responsive center-block img-rounded cards" src="/img/lolcats/LOLcat - Shaolin Paws.jpg" /></p>
